<nav class="navbar">
<div class="wholeNavBar">
  <a class="navbar-brand navBarText" href="/">Home</a>
  <a class="navbar-brand navBarText" href="/home/gls">GLs</a>
  <a class="navbar-brand navBarText" href="/feedbacks">FeedBack</a>
  <a class="navbar-brand navBarText" href="/home/login">Login</a>
</div>
</nav>
<hr style="border: 1px solid white; margin:0;">